Repository clalancette/dummy-rosdistro, changes with the labels that .github/labeler.yml gives for each.
All labels: rosdep, kinetic, melodic, noetic, dashing, foxy, rolling

Fix silliness. (#3)
  rosdep/base.yaml
Labels: rosdep

Check for sync freeze.
  .github/workflows/sync-freeze.yml
Labels: none

Add in a new action to check the sync freeze status.
  .github/actions/sync-freeze/CODEOWNERS
  .github/actions/sync-freeze/CONTRIBUTING.md
  .github/actions/sync-freeze/LICENSE
  .github/actions/sync-freeze/README.md
  .github/actions/sync-freeze/__tests__/main.test.ts
  .github/actions/sync-freeze/action.yml
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/docs/development.md
  .github/actions/sync-freeze/jest.config.js
  .github/actions/sync-freeze/package-lock.json
  .github/actions/sync-freeze/package.json
  .github/actions/sync-freeze/src/main.ts
  .github/actions/sync-freeze/tsconfig.json
Labels: none

Start making modifications.
  .github/actions/sync-freeze/CODEOWNERS
  .github/actions/sync-freeze/CONTRIBUTING.md
  .github/actions/sync-freeze/README.md
  .github/actions/sync-freeze/__tests__/main.test.ts
  .github/actions/sync-freeze/action.yml
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/docs/development.md
  .github/actions/sync-freeze/jest.config.js
  .github/actions/sync-freeze/package-lock.json
  .github/actions/sync-freeze/package.json
Labels: none

Add in debugging.
  .github/actions/sync-freeze/README.md
  .github/actions/sync-freeze/src/main.ts
  .github/workflows/sync-freeze.yml
Labels: none

foo (#4)
  rosdep/base.yaml
Labels: rosdep

fixes
  .github/workflows/sync-freeze.yml
Labels: none

More fixes.
  .github/workflows/sync-freeze.yml
Labels: none

Add in config file.
  .github/sync-freeze.yml
Labels: none

test5 (#7)
  .github/actions/labeler/CODEOWNERS
  .github/actions/labeler/CONTRIBUTING.md
  .github/actions/labeler/LICENSE
  .github/actions/labeler/README.md
  .github/actions/labeler/__tests__/main.test.ts
  .github/actions/labeler/action.yml
  .github/actions/labeler/dist/index.js
  .github/actions/labeler/docs/development.md
  .github/actions/labeler/jest.config.js
  .github/actions/labeler/package-lock.json
  .github/actions/labeler/package.json
  .github/actions/labeler/src/main.ts
  .github/actions/labeler/tsconfig.json
  .github/actions/sync-freeze/action.yml
  .github/workflows/labeler-action.yml
  foxy/distribution.yaml
Labels: foxy

Revert "test5 (#7)"
  .github/actions/labeler/CODEOWNERS
  .github/actions/labeler/CONTRIBUTING.md
  .github/actions/labeler/LICENSE
  .github/actions/labeler/README.md
  .github/actions/labeler/__tests__/main.test.ts
  .github/actions/labeler/action.yml
  .github/actions/labeler/dist/index.js
  .github/actions/labeler/docs/development.md
  .github/actions/labeler/jest.config.js
  .github/actions/labeler/package-lock.json
  .github/actions/labeler/package.json
  .github/actions/labeler/src/main.ts
  .github/actions/labeler/tsconfig.json
  .github/actions/sync-freeze/action.yml
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
  .github/workflows/labeler-action.yml
  foxy/distribution.yaml
Labels: foxy

Changes.
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Add in some yaml reading.
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fix
  .github/actions/sync-freeze/src/main.ts
Labels: none

Another fix.
  .github/actions/sync-freeze/dist/index.js
Labels: none

Another fix
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes.
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Put something in freeze.
  sync-freeze.yaml
Labels: none

Fixes.
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Set foxy to frozen.
  sync-freeze.yaml
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Fixes
  .github/actions/sync-freeze/action.yml
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
  .github/sync-freeze.yml
Labels: none

Fixes
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Heavy cleanup.
  .github/actions/sync-freeze/README.md
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/package-lock.json
  .github/actions/sync-freeze/package.json
  .github/actions/sync-freeze/src/main.ts
Labels: none

Unfreeze foxy.
  sync-freeze.yaml
Labels: none

Always use the main branch for checkout.
  .github/workflows/sync-freeze.yml
Labels: none

Freeze foxy.
  sync-freeze.yaml
Labels: none

Add a retrigger sync.
  .github/workflows/retrigger-sync.yml
  .github/workflows/sync-freeze.yml
Labels: none

Unfreeze foxy.
  sync-freeze.yaml
Labels: none

Test. (#9)
  foxy/distribution.yaml
Labels: foxy

Fixes.
  .github/workflows/retrigger-sync.yml
Labels: none

.github/labeler.yml:

rosdep:
  - rosdep/*

kinetic:
  - kinetic/*

melodic:
  - melodic/*

noetic:
  - noetic/*

dashing:
  - dashing/*

foxy:
  - foxy/*

rolling:
  - rolling/*
