Repository clalancette/dummy-rosdistro, changes with the labels that .github/labeler.yml gives for each.
All labels: rosdep, kinetic, melodic, noetic, dashing, foxy, rolling

.github/labeler.yml:

rosdep:
  - rosdep/*

kinetic:
  - kinetic/*

melodic:
  - melodic/*

noetic:
  - noetic/*

dashing:
  - dashing/*

foxy:
  - foxy/*

rolling:
  - rolling/*

Revert "Test. (#9)" (#10)
  foxy/distribution.yaml
Labels: foxy

More cleanup of the sync-freeze-check.
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Make reading the file async.
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Freeze foxy.
  sync-freeze.yaml
Labels: none

Small cleanups.
  .github/actions/sync-freeze/dist/index.js
  .github/actions/sync-freeze/src/main.ts
Labels: none

Cleanup the README for the sync freeze code.
  .github/actions/sync-freeze/README.md
Labels: none

Initial code for the kick-open-prs action.
  .github/actions/kick-open-prs/LICENSE
  .github/actions/kick-open-prs/README.md
  .github/actions/kick-open-prs/action.yml
  .github/actions/kick-open-prs/dist/index.js
  .github/actions/kick-open-prs/package-lock.json
  .github/actions/kick-open-prs/package.json
  .github/actions/kick-open-prs/src/main.ts
  .github/actions/kick-open-prs/tsconfig.json
Labels: none

Debugging on kick-open-prs.
  .github/actions/kick-open-prs/dist/index.js
  .github/actions/kick-open-prs/src/main.ts
Labels: none

Fixes.
  .github/actions/kick-open-prs/dist/index.js
  .github/actions/kick-open-prs/src/main.ts
Labels: none

Modify foxy. (#11)
  foxy/distribution.yaml
Labels: foxy

Rekick open PRs.
  .github/workflows/retrigger-sync.yml
Labels: none

Change foxy. (#12)
  foxy/distribution.yaml
Labels: foxy

Make sure to checkout.
  .github/workflows/retrigger-sync.yml
Labels: none

Change foxy. (#13)
  foxy/distribution.yaml
Labels: foxy

Change rolling. (#15)
  rolling/distribution.yaml
Labels: rolling

Stringify the object to print.
  .github/actions/kick-open-prs/dist/index.js
  .github/actions/kick-open-prs/src/main.ts
Labels: none

Change rolling. (#16)
  rolling/distribution.yaml
Labels: rolling

Update kick-open-prs.
  .github/actions/kick-open-prs/dist/index.js
  .github/actions/kick-open-prs/package-lock.json
  .github/actions/kick-open-prs/package.json
  .github/actions/kick-open-prs/src/main.ts
Labels: none

Change kinetic. (#17)
  kinetic/distribution.yaml
Labels: kinetic

Try to kick PRs.
  .github/actions/kick-open-prs/dist/index.js
  .github/actions/kick-open-prs/package-lock.json
  .github/actions/kick-open-prs/package.json
  .github/actions/kick-open-prs/src/main.ts
  .github/workflows/sync-freeze.yml
Labels: none

Change rolling. (#18)
  rolling/distribution.yaml
Labels: rolling

Multiple triggers.
  .github/workflows/sync-freeze.yml
Labels: none

Change foxy.
  foxy/distribution.yaml
Labels: foxy

Change kinetic. (#19)
  kinetic/distribution.yaml
Labels: kinetic
